.button {
  display: flex;
  align-items: center;
  width: 15rem;
  max-width: 20rem;
  border: 1px solid #1e7492;
  border-radius: 0.3rem;
  letter-spacing: 0.05rem;
  padding: 0.7rem;
  font-size: 0.9rem;
  color: #1e7492;
  background: none;

  margin-bottom: 1rem;
}

.button:hover {
  background: #1e7492;
  color: #f1cd1e;
}

.button:active {
  background: #085e7c;
  color: #dbb608;
}

.icon {
  stroke-width: 0.1rem;
  height: 1.1rem;
}
